// ---- SIZES ---- //

// Width
$component-max-width: 1280px;

// Breakpoints
$xs: 360px;
$ms: 576px;
$s: 760px;
$m: 980px;
$l: 1200px;
$xl: 1440px;

//------ TITLES -----//

$h1: 40px;


//------ COLORS -----//
$tones: (
  0: 98,
  50: 95,
  100: 90,
  200: 80,
  300: 70,
  400: 60,
  600: 40,
  700: 30,
  800: 20,
  900: 10,
  950: 5,
) !default;


$tonesDark: (
  950: 95,
  900: 90,
  800: 80,
  700: 70,
  600: 60,
  400: 40,
  300: 30,
  200: 20,
  100: 10,
  50: 5,
  0: 3
) !default;
