@use './styles/theme' as *;

@forward './styles/theme';

html, body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-size: $h1;
    color: color(primary, 500);
}
